@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  background-color: #242424;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#header {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 3rem;
}

.question-bank-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  width: 1500px;
  margin: 0 auto;
  gap: 2rem;
  animation: fadeIn 1s ease-in-out;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 1000px;
}
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
  margin: 0 auto;
  height: 150px;
  flex-direction: column;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  animation: fadeIn 1s ease-in-out;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #212121;
  border: 1px solid transparent;
  color: white;
}

.filter-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background: linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff);
  transition: left 0.3s ease;
  z-index: 0;
  opacity: 0.1;
}

.filter-container:hover::before {
  left: 0;
}

.filter-container:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.filter-container > * {
  position: relative;
  z-index: 1;
}

.filter-labels {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

/* Adjusting input colors to match the theme */
.filter-container .MuiInputBase-root {
  color: black;
}

.filter-container .MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.3);
}

.filter-container .MuiInputLabel-root {
  color: black;
}

.filter-container
  .MuiOutlinedInput-root:hover
  .MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.5);
}

.filter-container
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #40c9ff;
}

.question-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.question-list-container ul {
  width: 100%;
}
.question-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  animation: fadeIn 1s ease-in-out;
  width: 100%;
  background: #212121;
  border: 1px solid transparent;
  color: white;
  position: relative;
  overflow: hidden;
}

.question-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background: linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff);
  transition: left 0.3s ease;
  z-index: 0;
}

.question-container > * {
  position: relative;
  z-index: 1;
}

.question-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.question-container:hover::before {
  left: 0;
}
.question-container li {
  list-style-type: none;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: top;
  gap: 2rem;
  background-color: white;
  color: black;
  border-radius: 15px;
  height: 500px;
  width: 300px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  animation: fadeIn 1s ease-in-out;
}

.topics-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #212121;
  color: white;
  border-radius: 15px;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  animation: fadeIn 1s ease-in-out;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  width: 100%;
}

.topics-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0%;
  background: linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff);
  transition: left 0.3s ease;
  z-index: 0;
  opacity: 0.1;
}

.topics-container:hover::before {
  left: 0;
}

.topics-container:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.topics-container > * {
  position: relative;
  z-index: 1;
}

.topics-container li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.right-column li {
  list-style-type: none;
}
