.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: inherit;
  z-index: 100;
  top: 0;
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  height: 70px;
  font-size: 1.25rem;
  transition: top 0.3s;
}

.navbar-hidden {
  top: -70px;
}

.navbar-logo {
  color: white;
  text-decoration: none;
  position: relative;
}

.navbar-middle-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-middle-content a,
.navbar-link {
  color: white;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.navbar-middle-content a::after,
.navbar-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #646cff;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.navbar-middle-content a:hover::after,
.navbar-link:hover::after {
  width: 100%;
  transform: translateX(-50%) scaleX(1);
}

.navbar-signup {
  color: white;
  cursor: pointer;
}

.navbar-container a {
  color: white;
  text-decoration: none;
  position: relative;
}

.navbar-container a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #646cff;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.navbar-container a:hover::after {
  width: 100%;
  transform: translateX(-50%) scaleX(1);
}
